name: example
description: A new Flutter project.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.3.0-0 <4.0.0'

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.3.3
  flutter_lints: ^3.0.2
  flutter_test:
    sdk: flutter

  l10n_mapper_generator: 
    path: ../l10n_mapper_generator

flutter:
  generate: true
  uses-material-design: true
